{
  "singleQuote": false,
  "printWidth": 120,
  "semi": true,
  "tabWidth": 4,
  "useTabs": true,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": true
}